# Python Virtual Environment
backend/venv/
backend/.venv/
ENV/
env/

# Python Cache files
__pycache__/
*.py[cod]
*$py.class

# Databases
backend/instance/
*.db
*.sqlite

# IDEs
.vscode/
.idea/
.project
.pydevproject

# Environment variables
backend/.env
.env
.env.local

# OS files
.DS_Store
Thumbs.db
